###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> uploads ###
/public/uploads/photos/*
!/public/uploads/photos/.gitkeep
###< uploads ###

desktop.ini
